PORTFOLIO_PORT=8095

PUBLIC_GRAFANA_SECURITY_DASHBOARD=https://grafana.example.com/public-dashboards/security-id
PUBLIC_GRAFANA_PLATFORM_DASHBOARD=https://grafana.example.com/public-dashboards/platform-id
PUBLIC_GRAFANA_BIRDNET_DASHBOARD=https://grafana.example.com/public-dashboards/birdnet-id
